/* -------------------- IMPORTED FONTS -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');


/*-------------------- CSS RESET --------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain) 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------- ROOT VARIABLES  -------------------- */

:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

body {
    min-width: 428px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-family: 'Irish Grover', serif;
    font-size: 2.5em;
    text-shadow: 2px 2px 3px #000000;
    margin: 10px;
    text-align: center;
}

h2 {
    color: #000000;
    font-family: 'Irish Grover', serif;
    font-size: 1.75em;
}


h3 {
    color: #000000;
    font-family: 'Irish Grover', serif;
    font-size: 1.25em;
}

header {
    display: grid;
    background-color: #06A816;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}

header p {
    color: #ffffff;
    font-style: italic;
    text-align: center;
    margin: 15px 10px;
}

nav {
    margin: 0 0 25px;
    padding: 0;
    height: 150px;
    text-align: center;
}

nav ul {
    margin: 40px 0;
    padding: 0;
    text-align: center;
}

nav h2 {
    visibility: hidden;
    height: 1px;
}

.topNav, .bottomNav {
    display: block;
    color: #ffffff;
}

.topNav {
    display: inline-block;
    background-color: #E75D02;
    padding: 5px;
    margin: 10px;
    width: 68%;
    border-radius: 5px;
}

.bottomNav {
    position: fixed;
    bottom: 25px;
    right: 2.5px;
    background-color: #E75D02;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    outline: 2.5px solid #ffffff;
}

#fruitSection h2 {
    margin-top: 72px;
    margin-bottom: 16px;
    margin-left: 8px;
}

#vegetableSection h2 {
    margin-top: 66px;
    margin-bottom: 16px;
    margin-left: 8px;
}

#fruitSection p {
    margin-left: 12px;
}
#vegetableSection p {
    margin-left: 12px;
}

h3 {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

#fruits-for-sale, #vegetables-for-sale {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

figure {
    display: inline-block;
    position: relative;
    z-index: -1;
    margin: 12px 25px 32px;
}

figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0 0 0 /0.7);
    color: #ffffff;
    width: 150px;
    height: 50px;
    line-height: 2.5;
}

img {
    max-width: 300px;
    max-height: 300px;
}

footer {
    background-color: #06A816;
    color: #ffffff;
    margin-top: 14px;
}

footer h2 {
    color: #ffffff;
}

#contact {
text-align: center;
padding-top: 30px;
}

#contact h2 {
    padding-top: 22px;
}

#hours {
    text-align: center;
    margin-top: 20px;
    padding: 14px 0;

    }

#hours h2 {
    padding-top: 36px;
}

footer h2 {
    margin-bottom: 15px;
}

footer address {
    font-style: normal;
}

footer dl div {
    display: block;
    margin-bottom: 2px;
}

dt, dd {
    display: inline-block;
}

dd {
    margin: 0 0 0 8px;
}

footer p {
    background-color: #ffffff;
    color: #06A816;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding-bottom: 15px;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media screen and (min-width: 834px){

    header {
        display: flex;
        justify-content: space-between;
        padding: 5px 5px 10px;
    }

    nav{
        margin-bottom: 16px;
    }

    ul {
        display: flex;
        justify-content: space-around;
    }

    .topNav {
        display: inline-flex;
        width: 35%;
        justify-content: center;
    }

    #fruitSection h2 {
        margin-top: 15px;
    }

    h3 {
        margin-top: 22px;
    }

    figure {
        margin: 12px 50px 35px;
    }

    #vegetableSection h2 {
        margin-top: 60px;
    }

    #contact-hours {
        display: flex;
        justify-content: space-around;
        margin-left: 50px;
    }

    #contact h2 {
        padding-top: 20px;
        padding-bottom: 8px;
    }

    #hours h2 {
        padding-top: 14px;
        padding-bottom: 8px;
    }

}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media screen and (min-width: 1280px) {

    header {
        display: grid;
        padding: 10px;
    }

    h1 {
        text-align: left;
    }

    nav {
        position: absolute;
        right: 10px;
        top: 2px;
    }

    .topNav {
        outline: 2.5px solid #ffffff;
        width: 300px;
    }

    #fruitSection h2 {
        margin-top: 60px;
    }

    .fruit-for-sale, .vegetables-for-sale {
        justify-content: space-between;
    }

    h3 {
        margin-top: 30px;
    }

    #contact-hours {
        display: flex;
        margin:0;
    }

    #contact, #hours {
        display: flex;
        margin: 0;
        padding: 20px;
    }

    #contact h2, #hours h2 {
        padding-top: 30px;
    }

    #contact address, #hours dl {
        margin-left: 150px;
    }

    #contact address {
        padding-top: 0;
    }

    footer dl {
        margin-top: 0;
    }  

}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

@media screen and (min-width: 1440px) {

    #fruitSection h2 {
        margin-top: 56px;
    }

    h3 {
        margin-top: 26px;

    }

    figure {
        margin: 12px 25px 34px;
    }
    
    footer {
        margin-top: 10px;
    }
    
}